[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
Jinja2 = "*"

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"
"autopep8" = "*"
static_resume = {editable = true, path = "."}
markdown = "*"

[requires]
python_version = "3.6"
